.container {
    display: flex;
    flex-direction: column;
    font-family: 'Inconsolata', monospace;
    max-width: 860px;
    min-width: 300px;
    margin: auto;
}

.container > nav > div {
    padding: 10px;
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-around;
}

.links > div {
    padding: 10px;
    text-align: center;
    width: 100px;
}
h1{
    font-family: "Amatic SC";
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

.p-menu > p{
    margin-bottom: 41px;
    font-family: "Amatic SC";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    /*Nos casos que utilizei 'margin' foi pq não consegui ajustar com o flex*/ 
    margin-left: 232px;
}
#about{
    font-family: "Amatic SC";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin-left: 220px;
    margin-right: 220px;
}
#opening-hours{
    display: flex;
    justify-content: space-evenly;
    margin-left: -95px;    
}