.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Amatic SC', cursive;
    min-width: 600px;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}
