.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: auto;
}

.container > div {
    display: grid;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
}

